[alias]
  co = checkout
  st = status
  ci = commit
  br = branch
  pr = pull --rebase
  rc = rebase --continue
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p

[user]
  name = Alexandre Corrêa Barbosa
  email = alexandre.correa@gmail.com